<!DOCTYPE html>
<html>
<head>
<title>Concession - Maserati Fleet</title>
<link rel='stylesheet' href='/css/style.css'>
</head>
<body>
<h1>Inspection véhicule</h1>
<form action='' method='POST' enctype='multipart/form-data'>
<label>ID Véhicule:</label><input name='vehicle_id'><br>
<label>Nombre de clés:</label><input name='keys' type='number'><br>
<label>Kilométrage:</label><input name='km' type='number'><br>
<label>Carburant / Recharge:</label><input name='fuel'><br>
<label>Commentaires:</label><textarea name='comments'></textarea><br>
<label>Photos (min 5, max 15):</label><input type='file' name='photos' multiple><br>
<button type='submit'>Envoyer inspection</button>
</form>
</body>
</html>